.UserInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: max-content;
}

.Texts {
  padding: var(--pd);
}
.Texts > h3 {
  font-size: 1.6rem;
  text-align: right;
  margin: 0;
  font-weight: bolder;
}

.Texts > p {
  margin: 0;
  color: var(--text-color);
  font-size: 1.1rem;
  text-align: right;
}
