.Form {
  padding: var(--pd) calc(var(--pd) * 2.5);
  background: #fff;
  border-radius: var(--border-radius);
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.Type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: calc(var(--pd) * 2);
}

.Scheduled {
  display: inline-block;
  text-decoration: underline;
  color: var(--primary-color);
  font-size: 1.3rem;
}

.Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: var(--pd);
}

.Button > button {
  font-size: 1.4rem;
  padding: var(--pd) calc(var(--pd) * 2.5);
}
