.Form {
  padding: var(--pd) calc(var(--pd) * 2.5);
  background: #fff;
  border-radius: var(--border-radius);
  flex-basis: 100%;
}

.Type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: calc(var(--pd) * 2);
}

.Scheduled {
  display: inline-block;
  text-decoration: underline;
  color: var(--primary-color);
  font-size: 1.3rem;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--pd);
}

.Button > button {
  font-size: 1.4rem;
  padding: var(--pd) calc(var(--pd) * 2.5);
}
