.Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
}

.Logo > img {
  width: 5em;
  height: 5em;
}

.Logo > p {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.Logo > p > span:first-child {
  color: var(--primary-color);
}
