.Logo {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  font-size: 1rem;
}

.Logo > img {
  width: 5em;
  height: 5em;
}

.Logo > p {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.Logo > p > span:first-child {
  color: var(--primary-color);
}
