.ProfileBadge {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileBadge > img {
  height: 40px;
  width: 40px;
}

.ProfileBadge > h3 {
  padding-top: calc(var(--pd) * 0.5);
  color: var(--text-color);
  font-size: 1.2rem;
  text-transform: capitalize;
}

.ProfileBadge > .Active {
  color: var(--primary-color);
  font-weight: bolder;
}
