.SelectContainer {
  position: relative;
  border-radius: calc(var(--border-radius) * 1.3);
}

.Select {
  background: var(--secondary-color);
  border-radius: inherit;
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Select:focus {
  background-color: var(--secondary-color) !important;
}

.Icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--primary-color);
  font-size: 1.6rem;
}

.Icon > svg {
  font-size: inherit;
  color: inherit;
}
