.GenderRadio {
  min-height: 120px;
  min-width: 80px;
  cursor: pointer;
  margin: 0;
  /* overflow: hidden; */
}

.GenderRadio > input {
  display: none;
}

.GenderRadioLabel {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--pd);
  background: var(--secondary-color);
  border-radius: var(--border-radius);
  transition: all 0.4s linear;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.GenderRadioLabel > p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--text-color);
  user-select: none;
}

.GenderRadio > input:checked + .GenderRadioLabel {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}
