.ListTile {
  border-radius: var(--border-radius);
  padding: var(--pd);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 220px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #fff;
}

.ListTile:not(:last-child) {
  margin-right: var(--pd);
}

.Expanded {
  padding: 0;
  display: block;
  z-index: 300;
  /* position: absolute; */
  /* bottom: 0;
  left: 0;
   */
}

.FloatIcon {
  position: absolute;
  top: -15px;
  right: 15px;
  height: 27px;
  width: 27px;
}

.FloatIcon > img {
  height: inherit;
  width: inherit;
}

.FloatIcon > span {
  font-size: 1rem;
  color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Body {
  margin-left: var(--pd);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Body > h3 {
  font-size: 1.1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Body > div {
  width: 100%;
}

.TitleIcon {
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-left: var(--pd);
}

.BodyBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
}

.BodyBottom > span:last-child {
  font-weight: bold;
}

/* LitTileExpanded Top */

.ListTileExpandedTop {
  padding: var(--pd) calc(var(--pd) * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ListTileExpandedTopLeft,
.ListTileExpandedTopRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ListTileExpandedTopLeft > h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bolder;
}

.ListTileExpandedTopLeftDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ListTileExpandedTopRight {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.2rem;
}

.ListTileExpandedTopRight > span:last-child {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  text-transform: capitalize;
}

/* ListTileExpandedBottomReviewer */

.ListTileExpandedBottomReviewer > h4 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0;
  padding: 0 calc(var(--pd) * 2);
}

.ListTileExpandedBottomReviewer > h4 > span {
  margin-left: var(--pd);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: var(--secondary-color);
  background: var(--primary-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ReviewerBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: var(--pd);
  padding-top: 0;
}

.ReviewerBodyLeft {
  padding-right: var(--pd);
}

.ReviewerBodyLeftHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--pd);
}

.ReviewerBodyLeftHeadRight {
  padding: 0 var(--pd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ReviewerBodyLeftHeadRight > h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bolder;
}

.ReviewerBodyLeftHeadRight > span {
  font-size: 1rem;
}

.ReviewerBodyLeftBody {
  margin: 0;
  padding: 0 var(--pd);
  font-size: 1.15rem;
  max-width: 230px;
  text-align: justify;
}

.ReviewerBodyButton {
  font-size: 1.15rem;
  border-radius: var(--border-radius);
}

/* ListTileExpandedBottomHospital */
.ListTileExpandedBottomHospital {
  padding: var(--pd) calc(var(--pd) * 2);
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.HospitalLeft {
  margin-right: var(--pd);
}

.HospitalLeft > h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: calc(var(--pd) * 2);
}

.HospitalLeft > p {
  font-size: 1.2rem;
  /* max-width: 230px; */
}

.HospitalLeft > h4 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}