.Map {
  border-radius: var(--border-radius);
  width: max-content;
  position: relative;
  overflow: hidden;
}

.MapImg {
  height: 100%;
  width: 100%;
}

.Container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}
