.SignUpContainer {
  height: inherit;
  padding-top: calc(var(--pd) * 6);
  background: #fff;
  border-radius: calc(var(--border-radius) * 2.5);
}

.Form {
  padding: var(--pd);
  max-width: 300px;
}

.Form > h1 {
  font-size: 2.5rem;
  margin-bottom: calc(var(--pd) * 2);
  font-weight: bolder;
  text-transform: capitalize;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Logo {
  font-size: 1.4rem;
  margin: auto;
  margin-bottom: calc(var(--pd) * 3);
}

.LogoInfo {
  font-size: 1.8rem;
  color: var(--text-color);
  text-align: center;
  max-width: 220px;
  margin: auto;
}

.Button {
  padding: calc(var(--pd) * 2);
  border-radius: calc(var(--border-radius) * 3.5);
}

.BloodGroup {
  max-width: 250px;
}

.BloodGroupCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: calc(var(--pd) * 1.5) 0;
}

.Weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: calc(var(--pd) * 3.5) 0;
}

.WeightForm {
  max-width: 220px;
}

.AgeText {
  font-size: 1.6rem;
  text-align: center;
  color: gray;
  margin: 0;
}

.AgeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .SignInContainer {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
  }

  .Form {
    max-width: 100%;
  }

  .Logo {
    font-size: 1.3rem;
    margin: auto;
    margin-top: calc(var(--pd) * 2);
  }

  .LogoInfo {
    display: none;
  }

  .BloodGroup {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .BloodGroup {
    max-width: 100%;
  }

  .WeightForm {
    max-width: 100%;
  }
}
