.HistoryCard {
  width: 100%;
  padding: var(--pd);
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.HistoryCard > h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.3rem;
  font-weight: bolder;
  padding-top: var(--pd);
  text-transform: capitalize;
}

.HistoryCard > p {
  font-size: 1.1rem;
  padding-top: calc((var(--pd) * 0.5));
  text-transform: capitalize;
}

.HistoryAvatar {
  background: var(--purple);
  color: var(--secondary-color);
  font-size: 1rem;
}

.HistoryAvatarUr {
  font-size: 1rem;
  background: var(--primary-color);
  color: var(--secondary-color);
}
