.NotificationCard {
  width: 100%;
  padding: calc(var(--pd) * 1.2);
  border-radius: var(--border-radius);
  background: #fff;
  display: flex;
  align-items: center;
}

.Text {
  padding: 0 var(--pd);
  color: var(--text-color);
  font-size: 1.3rem;
  overflow-wrap: break-word;
}

.Text > span,
.Text b {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
}

.NotificationCard > p {
  white-space: nowrap;
  align-self: flex-end;
  font-size: 1.1rem;
  padding-left: var(--pd);
}
