.Welcome {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: calc(var(--pd) * 4);
  background: #fff !important;
}

.Logo {
  margin-bottom: calc(var(--pd) * 13);
  font-size: 1.8rem !important;
}

.Button {
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  .Welcome {
    padding: 0;
    padding-bottom: calc(var(--pd) * 4);
  }

  .Logo {
    font-size: 1.6rem !important;
  }

  .Button {
    font-size: 1.4rem;
  }
}
