.RequestCard {
  padding: var(--pd);
  border-radius: var(--border-radius);
  width: 100%;
}
.RequestCard:not(:last-child) {
  margin-bottom: var(--pd);
}
.RequestCardTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.RequestCardTopLeft {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.RequestCardTopLeft > h3 {
  margin: 0;
  font-weight: bolder;
  font-size: 1.3rem;
}

.RequestCardTopLeft > span {
  font-size: 1.1rem;
}

.RequestCardTopRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.RequestCardTopRight > div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.RequestCardTopRight > div > span {
  padding: calc(var(--pd) * 0.7);
  margin-right: var(--pd);
  border-radius: calc(var(--border-radius) * 2);
  font-size: 1rem;
  text-transform: capitalize;
}

.RequestCardTopRight > div > svg {
  font-size: 1.6rem;
  cursor: pointer;
}

.RequestCardTopRight > h3 {
  margin: 0;
  padding-top: calc(var(--pd) * 0.5);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.4rem;
}

.RequestCardMid {
  padding-top: var(--pd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.RequestCardMid > h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bolder;
}

.RequestCardMid > h4 > span {
  font-size: 1.1rem;
  font-weight: normal;
}

.RequestCardBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.1rem;
}

.RequestCardBottom > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.RequestCardBottom > span > svg {
  margin-right: var(--pd);
}
