.Container {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.Slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.SliderItem {
  text-transform: capitalize;
  padding: var(--pd);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bolder;
}

.SliderItemEmpty {
  padding: var(--pd);
}

.Current {
  font-size: 2.5rem;
  color: #000;
}

.Sm {
  font-size: 2.35rem;
  color: #9b9999;
}
.Xs {
  font-size: 2.2rem;
  color: #cccaca;
}

.Text {
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
  color: gray;
}
