*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #8a0303;
  --secondary-color: #575996;
  --accent-color: rgba(50, 189, 80);
  --accent-color-rgb: 50, 189, 80;
  --pd: .8rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
